
<div class="container-fluid bg-dark bg-opacity-90 bg-gradient">
  <div class="container p-5">
      <div class="row">
          <div class="footerInfo col-4">
              <span class="text-white fs-5">® BaDuy</span>
              <div class="text-secondary">
                  <span>Web quản lý được viết bởi Nguyễn Bá Duy <br></span>
                  <span>Email : duynbph22412@fpt.edu.vn <br></span>
                  <span>STD : 0393267599</span>
              </div>
              
          </div>
  
          <div class="footerHome col-2">
              <span class="text-white fs-5">Home <br></span>
              <ul class="nav flex-column text-white">
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/">Home</a>
                  </li>
              </ul>
          </div>
  
          <div class="footerSp col-2">
              <span class="text-white fs-5">Sản phẩm</span>
              <ul class="nav flex-column text-white">
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/sp">Danh sách</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/sp/add-sp">Thêm sản phẩm</a>
                  </li>
              </ul>
          </div>
  
          <div class="footerUser col-2">
              <span class="text-white fs-5">Tài Khoản</span>
              <ul class="nav flex-column text-white">
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/user">Quản lý tài khoản</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/user/them-tai-khoan">Thêm tài khoản</a>
                  </li>
              </ul>
          </div>

          <div class="footerUser col-2">
              <span class="text-white fs-5">Loại</span>
              <ul class="nav flex-column text-white">
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/category">Quản lý loại</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="/category/add-category">Thêm loại</a>
                  </li>
              </ul>
          </div>
      </div>
     
  </div>
</div>
</body>
</html>